<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Change products list</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        td {
            padding: 5px; /* Поля в ячейках */
            horiz-align: center; /* Выравнивание по верхнему краю ячеек */
        }

        div {
            width: 100%;
        }

        span {
            display: block;
            text-align: center
        }

        a {
            display: block;
            text-align: center;
        }
    </style>
</head>

<body>
<h1 align="center">Редактировать cписок продуктов:</h1>
<table border="4" width="500" align="center" th:if="${products.size() > 0}">
    <tr>
        <td align="center">id</td>
        <td align="center">title</td>
        <td align="center">price</td>
        <td align="center">Действия</td>
    </tr>
    <tbody align="centre">
    <tr th:each="b : ${products}">
        <td align="center" th:text="${b.id}"></td>
        <td align="center" th:text="${b.title}"></td>
        <td align="center" th:text="${b.price + ' р.' }"></td>
        <td align="center"><a class="btn btn-danger" th:href="@{'/products/remove/' + ${b.id}}">Удалить</a></td>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td align="center"><a class="btn btn-primary"
                          th:href="@{/products/add_form}">+ продукт
    </a></td>

    </tbody>
</table>
<br>
<span th:unless="${products.size() > 0}">
         <a class="btn btn-primary" th:href="@{/products/add_form}">+ продукт</a>
        </span>
<br>
<div class="buttons">
    <span th:text="'Количество продуктов: ' + ${products.size()}"/>
    <br>
    <a th:href="@{/products/all}">Список продуктов</a>
    <br>
    <a th:href="@{/}">Навигатор</a>
</div>

</body>
</html>